@import 'variables';

html {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: $soft-pink;
    box-sizing: border-box;
    color: $white;
    font-family:'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

h1, h2 {
    font-weight: 700;
}

.main-card {
    background: $black;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;

    header {
      
       h1 {
        font-size: 2.6rem;
        margin: 0 0 20px;
        }

        .main-title-border {
           background-color: $hotpink;
           display: block;
           height: 2px;
           width:20%;
        }
    }

    p {
        color: $gray;
        font-weight: 200;
        margin: 25px 0;
        width: 90%;
    }

    #open-btn {
        background-color: $hotpink;
        border-radius: .5rem;
        border-style: none;
        color: $white;
        font-weight: 700;
        margin-top: 10px;
        padding: .5rem 1rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background: $white;
            color: $hotpink;
        }
    }
}

.initial-modal {
    background-color: $dark-purple;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    .initial-modal-container {
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: calc(35% + 8rem);
    }

    .initial-modal-content {
        background: $green;
        border-radius: 1rem;
        box-shadow: 8px 20px 20px 50px #1d1d1d;
        color: $black;
        margin: 0 auto;
        padding: 4rem;

        h2 {
            font-size: 2.5rem;
            margin: 0 0 5px;
        }

        .title-border {
            background: $hotpink;
            display: block;
            height: 2px;
            width: 17%;
         }

        p {
            font-size: 1.5rem;
            font-weight: 700;
            margin: 20px 0;
        }

        input {
            border-radius: .5rem;
            border-style: none;
            font-size: 1.2rem;
            font-weight: 700;
            padding: 8px 10px;
            width: 90%;
        }

        .error-message {
            color: $purple;
            display: none;
            font-size: 13px;
            font-weight: 700;
            margin-top: 10px;
        }
    }
    
    .btn-container {
        text-align: center;

        .initial-modal-btn {
            border-style: none;
            border-radius: .5rem;
            font-size: 20px;
            font-weight: 700;
            margin-top: 10px;
            padding: 10px 15px;
            width: calc(50% - 5px);
            text-transform: uppercase;   
            cursor: pointer;
        }

        #cancel-btn {
            background-color: $white;
            color: $black;
            margin-right:5px;

            &:hover {
                background-color: #505050;
                color: $white;
            }
        }

        #continue-btn {
            background-color: $hotpink;
            color: $white;

            &:hover {
                background-color: $white;
                color: $hotpink;
            }
        }
    }
}

.success-modal {
    background-color: $green;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    .success-modal-container {
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: calc(35% + 8rem);
    }

    h2 {
        color: $black;
        font-size: 4rem;
        margin: 0;
    }

    .success-title-border {
        border-top: 2px solid $white;
        background-color: $green;
        display: block;
        //height: 2px;
        right: 37px;
        margin-top: 10px;
        position: relative;
        text-align: right;
    }
    .return-home-btn {
        border: 1px solid $white;
        border-radius: 50%;
        background-color: transparent;
        color: $white;
        display: block;
        float: right;
        margin-top: 10px;
        text-transform: uppercase;
        cursor: pointer;
    }
}